body {
    margin: 0 auto;
    padding: 0;
    max-width: 1600px;
    font-family: 'Work Sans', sans-serif;
    background-color: #0b98aa;
    text-align: center;
}

.header,
.main {
    margin: 0 8px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main {
    text-align: center;
}

#add-gifs {
    margin-top: 30px;
}

.gifs-count,
.gifs-not-found {
    text-align: center;
}

#giphy-category,
#find-gifs,
#add-gifs {
    padding: 10px 15px;
    font-size: 22px;

}

.gif-container {
    margin-top: 14px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    grid-gap: 6px;
}

.gif-container__image {
    width: 100%;
    height: 200px;
    border-radius: 6px;
}

.footer {
    margin-top: 100px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 729px) {
    #search-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-items: stretch;
    }

    #search-form input {
        margin-top: 8px;
    }
}

.disabled:hover {
    cursor: not-allowed;
}

.up {
    display: inline-block;
    padding: 16px 22px;
    border-radius: 50%;
    text-decoration: none;
    background-color: #ffffff;
    font-size: 20px;
    color: #000000;
    margin-top: 40px;
}

.up:hover {
    color: blueviolet;
}

.hidden {
    display: none;
}

.active {
    display: inline-block;
}